 
.course-card-link {
    text-decoration: none; 
  }
  
  .course-card-link:hover .course-card {
    border: 2px solid #90caf9;  
  }
  
  .course-card {
    width: 250px;
    height: 330px;
    transition: border 0.3s ease; 
    margin:20px;
   }
   

.course-card {
   
 transition: border 0.3s ease, box-shadow 0.3s ease;  
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);  
  }
  
  .course-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.24);  
  }
  
  